# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# PyCharm project files
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Local data
data_ingestion/data/raw/
data_ingestion/data/bronze/

# credentials
*.env