# Copy this to infra/cli/azure_credentials.env and fill with your local values
# Shortening smart-home-energy-pipeline to "shep" in the following
SUBSCRIPTION=your-sub-name-or-id
ENV=dev

RG=rg-shep-dev
LOC=westeurope  # choose your region

SA=stshepdev    # choose a globally unique name here as storage account name
ADF=adf-shep-dev